html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.block {
  width: 100%;
  background-color: lightblue;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-block2 {
  background-color: violet;
}

.level,
.new {
  color: brown;
}

.languages,
.featured {
  color: blue;
}

.tools,
.posted-at {
  color: orangered;
}

.contract {
  color: blueviolet;
}

.filter-panel {
  width: 1000px;
  height: 100px;
  background-color: coral;
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

/* .company-wrapper {
  display: flex;

} */

.filter {
  display: flex;
}

.filter-element {
  background-color: darkgray;
  padding: 5px;
  border: 1px solid blue;
  margin: 5px;
}

.role {
  color: brown;
}

.level {
  color: blue;
}

.language-element {
  background-color: chocolate;
  border: 1px dotted brown;
  padding: 2px;
  margin: 5px;
}

.tool-element {
  background-color: lemonchiffon;
  border: 1px dotted brown;
  padding: 2px;
  margin: 5px;
}

.role-element {
  background-color: lightseagreen;
  border: 1px dotted brown;
  padding: 2px;
  margin: 5px;
}

.level-element {
  background-color: rgb(176, 178, 32);
  border: 1px dotted brown;
  padding: 2px;
  margin: 5px;
}
